<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Më Ndihmo</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <h2 class="ion-padding">Ju lutemi plotësoni fushat e mëposhtme!</h2>
  <ion-item lines="none">
    <ion-label position="floating">Emri Juaj<ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">I Moshuari<ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Shuma<ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Përshkrimi
    </ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
  <ion-img src="../../../assets/paypal-donate-button.png"></ion-img>
</ion-content>