<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Më Ndihmo</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
  <div>
    <div class="ion-padding">
      <ion-img src="../../../assets/Webp.net-resizeimage.png" class="ion-padding"></ion-img>
    </div>
  </div>
  <p>//test@gmail.com //testtest</p>
  <div padding>
      <ion-item>
        <ion-input name="email" type="email" placeholder="Email" [(ngModel)]="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="password" type="password" placeholder="Fjal&#235;kalimi" [(ngModel)]="pass"
          required></ion-input>
      </ion-item>
    </div>
  <ion-grid fixed class="ion-padding">
    <ion-row class="ion-padding">
      <ion-col>
      </ion-col>
      <ion-col>
        <ion-button (click)="login()" color="danger" size="large" expand="block" strong>
          Logohu
        </ion-button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-footer no-border>
      <ion-toolbar color="light">
        <p id="registerLink" [routerLink]="['/register']" routerLinkActive="router-link-active">Nuk keni llogari?
          Rregjistrohuni</p>
      </ion-toolbar>
    </ion-footer>
</ion-content>

