<ion-app>
    <ion-menu class="sidemenu-4"  side="end" type="reveal">
        <ion-content>
          <div class="content">
            <div class="menu">
              <div class="menu-item" *ngFor="let item of sidemenuLayout1">
                <div class="block" [ngClass]="{'active':item.active}">
                  <div class="icon">
                    <ion-icon slot="start" [name]="item.icon" [ngClass]="{'active':item.active}"></ion-icon>
                  </div>
                  <div class="text" [ngClass]="{'active':item.active}">
                    {{item.title}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-content>
      </ion-menu>
      <ion-router-outlet main></ion-router-outlet>
</ion-app>
