<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Më Ndihmo</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
  <h1>Mirëserdhe, {{adres}}</h1>
  <ion-list-header>
    <ion-label>Për çfarë keni nevojë?</ion-label>
  </ion-list-header>
  <ion-list color="light" mode="md" padding>
    <ion-button mode="md" (click)="alarm()" color="danger" size="large" strong>
      Nuk Ndihem mirë
    </ion-button>
  </ion-list>
  <ion-list color="light" mode="md" padding>
    <ion-button mode="md" (click)="callPolice()" color="success" size="large" strong>
      Familja
    </ion-button>
  </ion-list>
  <ion-list color="light" mode="md" padding>
    <ion-button mode="md" (click)="callPolice()" color="primary" size="large" strong>
      Policia
    </ion-button>
  </ion-list>
  <ion-list color="light" mode="md" padding>
    <ion-button mode="md" (click)="callFire()" color="warning" size="large" strong>
      Zjarrfikësja
    </ion-button>
  </ion-list>
  <ion-list mode="md" color="light" mode="md" padding>
    <ion-button mode="md" (click)="callDoc()" color="tertiary" size="large" strong>
      Mjeku/Infermierja
    </ion-button>
  </ion-list>
</ion-content>

<ion-footer no-border>
  <ion-toolbar color="light">
    <ion-label>
      <ion-text style="text-align: center;    font-size: 10px;">
        <div>Versioni 1.0.1</div>
      </ion-text>
      <ion-text style="text-align: center;    font-size: 10px;">
        <div> ©  EP .All Rights Reserved</div>
      </ion-text>
    </ion-label>
  </ion-toolbar>
</ion-footer>
